*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* -------------------Diseño de caja principal ---------------------------------- */



.cajita{
   
    border: solid 1px gray;
    width: 100%;
}
label{
    font-size: 15px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: rgba(128, 128, 128, 0.5);
    width: 30%;
    padding: 5px;
    text-align: center;  
}

td , tr{
    width: 30%;
    padding: 5px;
    text-align: center;  
}

div{
    padding: 15px;
    align-content: center;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.buscarNombre{
    width: 50%;
    height: 25px;
    margin: 1%;
    padding: 0.5px;
    border-radius: 5px;
    padding-left:5px;

}

.buscarFecha{
    width: 60%;
    height: 25px;
    margin: 1%;
    padding: 0.5px;
    border-radius: 5px;
    font-size:small;
    padding-left:5px;
}

.boton{
    border-radius: 5px;
    border:1px black solid;
    font-size: large;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    
}
.boton:hover{
    background-color: black;
    color: white;
}

.borde{
    border: black solid 1px;
    width: 60%;
    display:flex;
    margin-right:auto;
    margin-left:auto;
}

.left , .right{
    padding-inline: 20px;
    padding-block: 5px;
    border:none;
    font-size: large;
    background-color: white;
    cursor: pointer;
}

.container{
    width: 100%;
    
}

.left:hover , .right:hover{
    background-color: black;
    color: white;
}

.botonesContainer{
    display: inline-block;
    float: right;
}
.botonesContainer1{
 text-align: center;
}

/*---------------------------------------------------- Diseño de modal para crear------------------------------*/

.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
    padding:0px !important;
}

.modalbox{
    width: 80%;
    position: relative;
    padding: 15px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    display: flex;
     
}
.movedown {
    margin: 0 auto;
}

.modalmask:target .movedown{       
    margin:10% auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}

.bordeModal{
    border: black solid 1px;
    width: 100%;
    margin-right:auto;
    margin-left:auto;
    padding: 10px;
    margin: 10px;
}